h1{
  padding: 2rem;
}

h2{
  text-align: center;
}

.container {
  /* border: 1px solid red; */
  /* height: 80vh; */
  width: 80vw;
  overflow: scroll;
}

.card{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

.list-group{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}
